.logo {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: cover;
    background-image: url("../images/icon/rocket.svg");
}

.title-image {
    width: 100%;
    height: 700px;
    background-image: url("../images/labtop-table.jpg");
    background-size: cover;
}

.title-content {
    font-size: 23px;
    text-shadow: 1px 1px #a2a2a2;
    padding-top: 20%;
    color: white;
    height: inherit;
    text-align: center;
}

.title-content p:first-child {
    font-size: 28px;
    color: #FF059C;
}

.menu-bar {
    margin: 0;
    padding: 5px 0 0 5px;
    background-color: RGBA(247, 227, 130, 0.30);
}
.menu-bar li {
    font-size: 15px;
    display: inline-block;
    padding: 10px 10px;
    cursor: pointer;
}

.menu-bar li a {
    text-decoration: none;
    color: dimgrey;
}

.description-content {
    width: 80%;
    height: 500px;
    margin: 0 auto;
    background-color: bisque;
}